</div>
</main>

<!-- Add padding to the bottom to prevent content from being hidden by the footer -->
<div class="pb-16"></div>

<!-- Footer -->
<footer class="bg-theme-hf-color p-4 text-center text-white w-full mt-auto">
    <a href="https://github.com/BCIT-Database/COMP4921_Project1_Group4_Yongeun_Munyoung" target="_blank"
        rel="noreferrer">
        © 2024 by Linky Dinky. All rights reserved.
    </a>
</footer>


</body>

</html>